@import "tailwindcss";

@theme {
  --font-title: 'Dela Gothic One', sans-serif;
  --font-result: 'LINE Seed JP', sans-serif;
  --font-button: 'Zen Maru Gothic', sans-serif;
}

body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}